
<div class="winner">
    <div class="winner__wrapper">
        @if(winner() === draw ){
            <h3 class="winner__text">Draw</h3>
        } @else {
            <h3 class="winner__text">Winner</h3>
            <h1 class="winner__text name">
                {{winner()}} 
            </h1>
        }
        <div class="winner__actions">
            <button id="restart" (click)="restart()">RESTART</button>
            <button id="exit" (click)="end()">EXIT</button>
        </div>
    </div>
</div>
