.panel{
    // background-color: red;
    margin-bottom: 20px;

    &__scoreboard{
    }

    &__scores{
        font-size: 24px;
        span:first-child{
            margin-right: 10px;
            display: inline-block;
            min-width: 70px;
        }
    }
}