
<div class="panel">
    <section class="panel__scoreboard">
        <div class="panel__scores">
            <h5>Scores</h5>
            @if((scores$ | async); as scores){
                    <table >
                        <tr>
                            <th></th>
                            <th>Wins</th>
                        </tr>
                        <tBody>
                            @for(i of scores | keyvalue; track i.value ){
                                <tr>
                                    <td>{{i.key}}</td>
                                    <td>{{i.value}}</td>
                                </tr>
                            }
                        </tBody>
    
                    </table>             
            }
        </div>
    </section>
    <app-active-player></app-active-player>
</div>